<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaokao366.gaokao366touser">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.gaokao366.gaokao366touser.model.framework.application.SoftApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name="com.gaokao366.gaokao366touser.model.ui.main.activity.MainUIActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name="com.gaokao366.gaokao366touser.model.ui.login.activity.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.gaokao366.gaokao366touser.model.ui.login.activity.FindPwdActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.gaokao366.gaokao366touser.model.ui.login.activity.PwdSetActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.gaokao366.gaokao366touser.model.ui.login.activity.RegistActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.gaokao366.gaokao366touser.model.ui.setting.activity.AboutusActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.gaokao366.gaokao366touser.model.ui.setting.activity.FeedBackActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.gaokao366.gaokao366touser.model.ui.setting.activity.HelpActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.gaokao366.gaokao366touser.model.ui.setting.activity.SettingActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.gaokao366.gaokao366touser.model.ui.setting.activity.VersionUpdateActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.gaokao366.gaokao366touser.GuideActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.gaokao366.gaokao366touser.model.ui.city.activity.CityPickerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <!--高德地图定位-->
        <service android:name="com.amap.api.location.APSService" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6e89f5139f3cd6fddf8098ee9f6b55c8" />
        <!--高德地图定位结束-->
        <meta-data
            android:name="design_width"
            android:value="1280"></meta-data>
        <meta-data
            android:name="design_height"
            android:value="800"></meta-data>

    </application>


</manifest>